.holder {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
}

.contact-form {
    border: 3px solid black;
    border-radius: 15px;
    width: 50%;
    height: 400px;
    margin-top: 200px;
}

.input-holder {
    display: flex;
    flex-direction: column;
}