.holder {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    opacity: 0;
    position: absolute;
}

.holder.fade-in {
    animation: slide-fade-in 1.5s ease-in-out forwards;

}

@keyframes slide-fade-in {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.title {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

.grid {
    display: grid;
    margin-top: 0px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 60%;
    gap: 5px 10px;
    width: 60%;
    height: 60%;
    grid-template-areas: 
        "form socials"
        "form third"
    ;
}

.contact-form {
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    grid-area: form;
}

.form-text-holder {
    padding: 30px;
    height: 87%;
    display: flex;
    flex-direction: column;
}

.input-holder {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: fit-content;
}

.input-field {
    background: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 5px;
}

.input-field.text-field {
    height: 150px;
}

.input-label {
    margin-bottom: 5px;
    font-size: 14px;
}

.social-card {
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    grid-area: socials;
}

.tweet-card {
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    grid-area: third;
    overflow: hidden;
}

.button {
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: black;
    font-weight: bold;
    color: white;
}

.button:hover {
    transition: background-color .3 ease-in-out;
    background-color: white;
    color: black;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 20px;
    margin-right: 5px;
}

.social-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.social-item a {
    text-decoration: none;
}

.animation-card {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;

}

.confirm-icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.progress-bar {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    background-color: green;
    animation: drain-bar 15s forwards linear;
}

@keyframes drain-bar {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.pfp-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
}

.tweet {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.tweet-content {
    padding: 5px;
}

.tweet-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1px;
}

.user-at {
    font-size: 11px;
    margin: 0 3px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.282);
}

.time-text {
    font-size: 11px;
    margin: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.282);
}

.tweet-text {
    font-size: 12px;
    margin: 0;
}

.tweet-feed {
    border-top: 1px solid black;
    max-height: 83%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.overflow-holder {
    height: 120vh;
    overflow-y: hidden;
}

@media (max-width: 600px) {
    .holder {
        margin: unset;
        height: fit-content;
        overflow-y: hidden;
    }

    .grid {
        display: flex;
        flex-direction: column;
        width: 80%;
    }



    .tweet-card {}

}