.holder {
    color: black;
    margin-left: 300px;
    margin-top: 50px;
    overflow-x: hidden;
    padding-bottom: 80px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 34px;
}

.card-holder {
    display: grid;
    height: 90%;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    padding: 30px;
    grid-template-rows: 50% 50%;
    gap: 20px;
    place-items: center;
    overflow: hidden;
    transition: grid-template-columns 0.3s ease-in-out, grid-template-rows 0.3s ease-in-out;
}

.card-holder.focused-view-1 {
    grid-template-rows: 100% 0;
    grid-template-columns: 100% 0%;

}

.card-holder.focused-view-2 {
    grid-template-rows: 100% 0;
    grid-template-columns: 0 100%;

}
.card-holder.focused-view-3 {
    grid-template-rows: 0% 100%;
    grid-template-columns: 100% 0%;
    gap: 0;

}
.card-holder.focused-view-4 {
    grid-template-rows: 0% 100%;
    grid-template-columns: 0% 100%;
    gap: 0;

}

.project-card {
    border-radius: 15px;
    height: 80%;
    display: grid;
    margin: 0;
    flex: 1;
    background-color: white;
    padding: 35px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.project-card:hover {
    box-shadow: 11px 11px 130px 70px rgba(206, 212, 224, .32);
}

.project-card.selected {
    flex: 2;
}



.project-image {
    width: 100%;
    height: 100%;
    place-self: center;
    border-radius: 5px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.714);
    position: absolute;
    padding: 20px 80px;
    color: white;
    place-self: center;
    backdrop-filter: blur(2px);
}

.mini-image {
    height: 120px;
    width: 150px;
}

.project-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-overlay-title {
    margin: 0;
    margin-left: 5px;
}

.project-overlay-tagline {
    font-size: 12px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.605);
    width: 95%;
}

.project-subtitle {
    margin: 0;
    margin-left: 5px;
}

.project-bottom-row {
    display: grid;
    grid-template-columns: 65% 35%;
    flex-direction: row;
    margin-top: 10px;
    height: 100%;
}

.site-button {
    border-radius: 15px;
    padding: 5px 5px;
    background-color: rgb(198, 22, 198);
    border: none;
    place-self: center;
    width: 80%;
    margin-bottom: 20px;
    color: white;
}

.project-title {
    margin: 10px 0;
}

.project-desc {
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.705);
}

.project-card.not-selected {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.close-button {
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 15px;
    border: none;
}

.exit-icon {
    width: 20px;
    height: 20px;
}