
.animation-card {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
    animation: slide-in 1.5s forwards ease-in-out;

}

@keyframes slide-in {
    0% {
        right: -240px;
    }

    70% {
        right: 30px;
    }

    80% {
        right: 17px
    }
    
    90% {
        right: 23px;
    }

    100% {
        right: 20px
    }
}

.confirm-icon {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.progress-bar {
    width: 0%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    background-color: #6fdfaf;
    animation: drain-bar 10.1s forwards linear;
}

.progress-bar.error {
    background-color: #d75a4a;
}

@keyframes drain-bar {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.animation-exit-icon {
    width: 15px;
    height: 15px;
    opacity: .3;
    margin-left: 30px;
}

.animation-exit-icon:hover {
    opacity: .8;
}