
.holder {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
}

.text-holder {
    color: black;
    text-align: center;
}

.intro-text {
    margin-top: 80px;
    font-size: 30px;
    animation: fade-slide .7s ease-in-out forwards;
}

@keyframes fade-slide {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.main-text {
    font-size: 85px;
    width: 800px;
}

.desc-text {
    font-size: 24px;
    width: 500px;
    margin: 40px auto;
    font-weight: 500;
}

.button {
    width: 200px;
    height: 50px;
    display: inline-block;
    border: 3px solid black;
    background-color: transparent;
    text-decoration: none;
    border-radius: 45px;
    color: black;
    align-content: center;
    animation: shake .3s ease-in-out forwards;
    animation-delay: 1.4s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
} 

.button:hover {
    background-color: black;
    color: white;
}

.name {
    color: rgb(198, 22, 198);
}

.test {
    color: #838282
}

@media (max-width: 600px) {
    .holder {
        margin: unset;
    }

    .main-text {
        font-size: 50px;
        margin: 0 auto;
        width: 92vw;
    }

    .intro-text {
        font-size: 25px;
    }

    .desc-text {
        font-size: 20px;
        width: 90vw;
    }
}